<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="Test Suite" parallel="true" >
    <test name="Test" >
        <groups>
            <run>
                <include name="positivcases"/>
                <include name="negativeCases"
            </run>
        </groups>
        <classes>
            <class name="logInSite"/>
        </classes>
    </test>
</suite>
